@page "/cardgame"

@using System.Net.Http;
@using System.Net;

<!-- Here we use the built-in dependency injection -->
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime

<div id="cardGameContainer">

    <h3>CardGame</h3>

    <button class="btn btn-primary" @onclick="SendMail">SendMail</button>
    <br />

    <h4>Screenshot</h4>
    <button type="button" class="btn btn-info" @onclick="TakeScreenshot">Take Screenshot</button>
    <!-- NOT NECESSARY ><button type="button" class="btn btn-info" @onclick="DownloadScreenshot">Download Screenshot</button> -->

    <div id="output" style="width: 50%">
    </div>

</div>


@code {

    public async Task TakeScreenshot()
    {
        await jsRuntime.InvokeVoidAsync("Takeshot");
    }

    /* NOT NECESSARY
    public async Task DownloadScreenshot()
        {
        await jsRuntime.InvokeVoidAsync("DownloadImg");
    }
    */

    HttpContent httpContent = new StringContent("<h1>body<h1>");

    private async Task SendMail()
    {
        //192.168.43.126:7069
        //await httpClient.SendAsync()
        await httpClient.PostAsync(@"https://192.168.43.126:7069/Email/sendemail", httpContent);
    }
}

